h1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 66px;
    padding-bottom: 40px;
  }
  
  body{
      text-align: left;
      font-size: 20px;
      background-image: url('Без названия.jpg');
      /* background-size: cover;
      background-repeat: no-repeat; 
      background-position: center; */
  }
  
  .kartochki{
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
  }
  
  .card-img-top{
      width: 14rem;
      height: 310px;
  }
  
  .navbar {
      align-items: center;
  }