h1{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 66px;
  padding-bottom: 40px;
}

.card_cont{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    height: 430px;
}

.container-fluid{
    flex-wrap: wrap;
}


.dropdown-menu{
    display: none;
    position: absolute;
}

.see{
    display: block;
}

.reviews{display: none;}

.discript{display: none;}

.card-img-top{
    width: 14rem; 
    height: 290px;
}

.navbar {
    align-items: center;
}

.card-title{
    height: 55px;
}

body.dark-team {
 background-color: #696969;
 color: #121212;
}

body.dark-team #sun { display: none; }
body.dark-team #moon { display: inline-block; }

body {
  background-color: #e9f4ff;
  color: #000000;
  text-align: left;
  font-size: 20px;
}

#main{
    color: #000000;
}

.team{
    width: 50px;
    height: 50px;
    align-self:center;
}

#sun{
   display: inline-block;
}

#moon{
   display: none;
}

.catedoria{
    font-size: 14px;
}

.is-hidden { display: none; }



@media (max-width: 992px) {
h1 {
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center; 
  }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.btn-toggle {
    margin-left: 0;
    margin: 15px auto;
  }

.ochert lable{
    margin-bottom: -5px;
    font-size: 15px;
  }

.ochert {
    margin: 20px auto;
    padding: 30px 20px; 
    width: 92%; 
    max-width: 360px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

.star {
    font-size: 7vh;
    display: inline-block;
  }

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.navbar-nav{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: left !important;
  gap: 10px;
  padding: 0;
  width: 100%;
}

.nav-link{
  font-size: 16px;
  padding: 2px 4px;
}

.nav-item{
  display: inline-block;
}

.team{
    width: 30px;
    height: 30px;
    align-self:center;
}

#searchbox { 
  width: 140px; 
  font-size: 16px; 
}
}