

.kartochki{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    height: 430px;
}

.card-img-top{
    width: 14rem; 
    height: 290px;
}

.navbar {
    align-items: center;
    justify-content: flex-start;
}

.card-title{
    height: 55px;
}

.btn-outline-success {
 border-color: #a5dafd;
 color: #a5dafd;
 
}

.btn-outline-success:hover{
 color: #000000;
 background-color: #a5dafd;
 border-color: #a5dafd;
}

.burger {
 cursor: pointer;
 display: flex;
 flex-direction: column;
 gap: 5px;
 width: 30px;
 margin-left: 5px;
}

.burger__line {
 height: 3px;
 background-color: black;
 transition: all 0.3s; 
}

.menu {
 display: none;
}

.menu.active {
 display: block; 
}

.btn-toggle{
   margin-left: 550px;
   
}

body.dark-team {
 background-color: #696969;
 color: #121212;
}

body.dark-team #sun { display: none; }
body.dark-team #moon { display: inline-block; }
body {
  background-color: #e9f4ff;
  color: #000000;
  min-height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
}

#main{
    color: #000000;
}

.team{
    width: 50px;
    height: 50px;
    align-self:center;
}

#sun{
   display: inline-block;
}

#moon{
   display: none;
}


.is-hidden { display: none; }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 33rem;
  background: #fff;
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.5rem;
  
}
.star {
  font-size: 10vh;
  cursor: pointer;
}
.one {
  color: rgb(255, 0, 0);
}
.two {
  color: rgb(255, 106, 0);
}
.three {
  color: rgb(251, 255, 120);
}
.four {
  color: rgb(255, 255, 0);
}
.five {
  color: rgb(24, 159, 14);
}

.ochert{
  margin-top: 10%;
  padding: 60px;
  border-color: rgba(255, 230, 197, 0.567);
  background-color: #bfdfff;
  border-radius: 3.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px
}

.btn{
  margin: 0 auto;
  background-color: rgb(116, 192, 255);
  width: 150px;
  height: 35px;
  margin-top: 10px;
}

#btn{
    display: flex;
    justify-content: center; 
    align-items: center;
}